@mixin font-heading {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.1rem;
	text-transform: uppercase;
	letter-spacing: 8px;
}

@mixin font-body {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
}

@mixin font-language-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	letter-spacing: 8px;
}

@mixin font-credits {
	font-family: 'Cousine', serif;
	font-weight: 700;
	font-size: 0.7rem;
	letter-spacing: 2px;
}

@mixin font-input {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 8px;
}